html, body {
    margin: 0;
    padding: 0;
}

.grid-wrapper {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: absolute;
    top:15em;
}

.grid-container {
    display: flex;
    justify-content: center;
  }

  .box {
      width: 25vw;
      height: 25vw;
  }

  @media screen and (min-width: 520px) {
    .box {
        width: 22vw;
        height: 22vw;
    }
  }

  @media screen and (min-width: 620px) {
    .box {
        width: 20vh;
        height: 20vh;
    }
  }


div.options {
    color: #999;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 1em;
    font-size: x-large;
}

div.messages {
    color: #999;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 1em;
    font-size: x-large;
}
button.pvp {
    width: 6em;
}

button.pvc {
    width: 6em;
}

button.refresh {
    width: 6em;
}

button {
    color: #999;
    background-color: #252525;
    width: 100%;
    height: 100%;
    font-size: x-large;
}
button:hover {
    background-color: #151515;
    cursor: pointer;
}

.AA { 
    grid-area: AA; 
    text-align: center;
}
.AA:hover {
    background-color: #151515;
}

.AB { 
    grid-area: AB; 
    text-align: center
}
.AB:hover {
    background-color: #151515;
}

.AC { 
    grid-area: AC;
    text-align: center
}
.AC:hover {
    background-color: #151515;
}

.BA {
    grid-area: BA;
    text-align: center
}
.BA:hover {
    background-color: #151515;
}

.BB {
    grid-area: BB;
    text-align: center
}
.BB:hover {
    background-color: #151515;
}

.BC {
    grid-area: BC;
    text-align: center
}
.BC:hover {
    background-color: #151515;
}

.CA {
    grid-area: CA;
    text-align: center
}
.CA:hover {
    background-color: #151515;
}

.CB {
    grid-area: CB;
    text-align: center
}
.CB:hover {
    background-color: #151515;
}

.CC {
    grid-area: CC;
    text-align: center
}
.CC:hover {
    background-color: #151515;
}