<div *ngIf='gameSelection' class="options">
    <p>Player vs Player</p>
    <button class='pvp' (click)='hideSelection()' (click)='startGame(this.human)'>Start PvP game</button>
    <p>Player vs Computer</p>
    <button class='pvc' (click)='hideSelection()' (click)='startGame(this.computer)'>Start PvC game</button>
</div>
<div *ngIf='gameBoard' class="grid-wrapper">
    <div class="grid-container">
        <div>
            <div class="box AA" (click)="placeMove(0)"><button>{{AA}}</button></div>
            <div class="box AB" (click)="placeMove(1)"><button>{{AB}}</button></div>
            <div class="box AC" (click)="placeMove(2)"><button>{{AC}}</button></div>
        </div>
        <div>
            <div class="box BA" (click)="placeMove(3)"><button>{{BA}}</button></div>
            <div class="box BB" (click)="placeMove(4)"><button>{{BB}}</button></div>
            <div class="box BC" (click)="placeMove(5)"><button>{{BC}}</button></div>
        </div>
        <div>
            <div class="box CA" (click)="placeMove(6)"><button>{{CA}}</button></div>
            <div class="box CB" (click)="placeMove(7)"><button>{{CB}}</button></div>
            <div class="box CC" (click)="placeMove(8)"><button>{{CC}}</button></div>
        </div>
    </div>
</div>
<div *ngIf='error'>
    <div class="errorMessage">{{errorMessage}}</div>
</div>
<div *ngIf='gameState' class="messages">
    <p class="state">{{state}}</p>
    <button class='refresh' (click)='newGame()'>New Game</button>
</div>