<body>
    <header>Welcome to Tic Tac Toe</header>
    <div>
        <nav>
            <a>
                <button class="startGame" [routerLink]="['/game']" click="getUserButton()">
                    Start Game
                </button>
            </a>
        </nav>
    </div>
</body>
