
body {
    font-size: 30px;
    color: #c4c4c4;
    background-color: #303030;
    text-align: center;
}

header {
    color: #c4c4c4;
}

button {
    color: #999;
    background-color: #252525;
    width: 6em;
    font-size: x-large;
}